@import 'tailwindcss';

@theme {
	--color-rc-primary: #ff6363;
	--color-rc-dark-1: #151515;
	--color-rc-dark-2: #202123;
}

body {
	@apply bg-rc-dark-1;
}

.rc-glow {
	--tw-shadow: 0 0 10px color-mix(in oklab, var(--color-rc-primary) 70%, transparent);
	--tw-shadow-color: color-mix(in oklab, var(--color-rc-primary) 70%, transparent);
	box-shadow:
		inset var(--tw-shadow),
		var(--tw-shadow);
	text-shadow: var(--tw-shadow);
}

.gray-glow {
	--tw-shadow: 0 0 5px color-mix(in oklab, var(--color-gray-300) 50%, transparent);
	--tw-shadow-color: color-mix(in oklab, var(--color-gray-300) 50%, transparent);
	box-shadow:
		inset var(--tw-shadow),
		var(--tw-shadow);
	text-shadow: var(--tw-shadow);
}

.rc-glow-text {
	--tw-text-shadow: 0 0 10px color-mix(in oklab, var(--color-rc-primary) 70%, transparent);
	text-shadow: var(--tw-text-shadow);
}

.gray-glow-text {
	--tw-text-shadow: 0 0 5px color-mix(in oklab, var(--color-gray-300) 50%, transparent);
	text-shadow: var(--tw-text-shadow);
}

.no-scrollbar::-webkit-scrollbar {
	display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
}
